header{
	background: #afaeae;
	background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size:18px;
	display: flex;
	flex-direction: row;

}
.backsection{
	background: #afaeae;
}
table {
    width: 100%;
}
.textSection{
	color: black;
}
.imgS{
	width: 23px;
	height: 20px;
	margin-right: 10px;
}
.ColorText-Header{
	color: black;
	text-decoration: none;
}

.ColorText-Header:hover{
	color: gray;
	text-decoration: none;
}
.Coffeeontheway{
  color: black;
  text-align: center;
  font-size: 10px;
  margin: 5px;
  height: 100px;
}
.ColorText-Header-mobile{
	color: white;
	font-size: 19px
}
.ColorText-Header-mobile:hover{
	color: gray;
	text-decoration: none;
}
.fonmenu{
	width: 47%;
	height: 40%;
	color:black;
	padding: 5%;
  }
.kompany{
	color: black;
	text-align: center;
	font-size: 19px;
	
}

.Preim{
	color: black;
	font-size:19px;
	background-color: afaeae;
	border-radius: 16px;
	padding: 10px;

}

.kartochka{
	display: flex;
	background-color:rgb(136, 113, 101);;
	border-radius:55px ;
	height: 490px;
	width: 300px;
	border: 2px solid;
	color: white;
}
.menu{
	color: white;
	
	font-size: 50px;
}

.hidden{
	display: none;
}

.kartochka:hover .hidden{
	display: flex;
}
footer{
	background:#afaeae ;
	display: flex;
	flex-direction: row;
	font-size:18px;
	color: black;
}	
.btn-gray {
	background: #afaeae
}
.card {
	height: 100%;
}
.navigation_mobile-header {
	z-index: 2;
}
.navigation_mobile-body {
	left: -100vw;
	top: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #afaeae;
	z-index: 1;
	transition: 1s;
}
.active {
	left: 0;
}
